threads=5
exchange=exmo
--exchange=bybit
--exchange=binance
bybit.key=
bybit.secret=
binance.key=
binance.secret=
tg.token=
tg.channel=
years=-1
months=-2
days=0
resolution=60
min_cnt=50
min_last_month_cnt=1
--strategy_type=short
--strategy_type=long
--strategy_type=long_sl
strategy_type=short_sl
open=0;60;15
tp=200;600;20
max_loss=0.15
test_pairs=ALGO_USDT;ALGO_USDT;ALGO_USDT
--test_strategies={ ETC_USDT   0 150 |  9 LOC 60 |  7 OCH 69 }{ ETC_USDT  40 175 |  8  LO 23 |  6  LO 39 }{ ETC_USDT  35 400 |  9 LOC 59 |  2  OC 36 }
